.head {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
}

.gray{
    background-color: lightgray;
}

.container{
    size: 100%;
    padding: 10px;
    margin: auto;
}

.wrapper{
    display: grid;       
    align-content: space-around;
    grid-template-columns: 1.0fr,4.0fr;
    grid-template-rows: 1fr,3fr;
}
    
.city{
    margin: 15px;
    grid-column: 1;
}

.current{
    margin: 10px;
    grid-column: 2/2;
    grid-row: 1;
}

.forecast{
    margin: 5px;
    grid-column: 2;
    grid-row: 2/2;
        
}

    .smallImg{
    margin: auto;
    width: 60px;
    height: 60px;
    border-style: inset;
    border-radius: 12px;
    }

.card-deck{
    font-size: 12px;
}

h6{
   text-align: center; 
}

.card{
    padding: 5px;
}